*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/
*.retry
~/gcpkeys/appuser-private.json
jdauphant.nginx
.vagrant/
.vagrant.d/
*.log
*.pyc
.molecule
.cache
.pytest_cache
